
@import url("bootstrap.css");



.background{
    background-image: url("../images/pizza\ background\ .jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.button{
    text-align: center
}

h1{
    text-align: center
}

h2{
    text-align: center
}

.nav{
    text-align: right
}



